[MASTER]
py-version=3.8
extension-pkg-allow-list=numpy
init-hook=
    import sys; sys.path.insert(0, "trust_up_xtdrone/src")
ignore-paths=
    ^trust_up_xtdrone/scripts/.*$,
    ^trust_up_xtdrone/isaac/.*$,
    ^trust_up_xtdrone/ros2/.*$,
    ^trust_up_xtdrone/setup.py$

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-many-branches,
    too-many-statements,
    invalid-name,
    consider-using-f-string,
    import-error,
    fixme

[FORMAT]
max-line-length=140

[DESIGN]
max-args=10
max-locals=25
max-attributes=20

[REPORTS]
fail-under=8.50
